<div class="single-product ">
    <div class="product-image card">
        <img [src]="item.img" alt="#" class="card-img-top">
        <div class="button ">
            <a (click)="reservation(item._id)" class="btn"><i class="lni
                    lni-cart"></i> Add to Cart</a>
        </div>
    </div>
    <div class="product-info card-body">
        <span class="category">categoty: {{item.category}}</span>
        <span class="category"> {{item.time}}</span>
        <h4 class="title">
            <a  (click)="goToSingleProduct(item._id)">name: {{item.name}}</a>
        </h4>
        <!-- <ul class="review">
            <li><i class="lni lni-star-filled"></i></li>
            <li><i class="lni lni-star-filled"></i></li>
            <li><i class="lni lni-star-filled"></i></li>
            <li><i class="lni lni-star-filled"></i></li>
            <li><i class="lni lni-star-filled"></i></li>
            <li><span>{{item.time}}</span></li>
        </ul> -->
        <div class="price">
            <span>price:{{item.price}}</span>
        </div>
    </div>
</div>