<header class="header navbar-area">

    <div class="topbar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-left">
                        <ul class="menu-top-link">
                            <li>
                                <div class="select-position">
                                    <select id="select4">
                                        <option value="0" selected>$ USD</option>
                                        <option value="1">€ EURO</option>
                                        <option value="2">$ CAD</option>
                                        <option value="3">₹ INR</option>
                                        <option value="4">¥ CNY</option>
                                        <option value="5">৳ BDT</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="select-position">
                                    <select id="select5">
                                        <option value="0" selected>English</option>
                                        <option value="1">Español</option>
                                        <option value="2">Filipino</option>
                                        <option value="3">Français</option>
                                        <option value="4">العربية</option>
                                        <option value="5">हिन्दी</option>
                                        <option value="6">বাংলা</option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-middle">
                        <ul class="useful-links">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <div class="top-end">
                        <div class="user" *ngIf="userIsAuthenticated">
                            <i class="lni lni-user"></i>
                            {{ user.lastName + " "+user.firstName }}
                        </div>
                        <ul class="user-login">
                            <li>
                                <a routerLink="login"
                                    *ngIf="!userIsAuthenticated">Sign In</a>
                            </li>
                            <li>
                                <a routerLink="signup"
                                    *ngIf="!userIsAuthenticated">Register</a>
                            </li>
                            <li>
                                <a routerLink="" (click)="logout()"
                                    *ngIf="userIsAuthenticated" style="cursor:
                                    pointer;">logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="header-middle">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3 col-7">

                    <a class="navbar-brand" routerLink="">
                        <img src="assets/images/logo/logo.svg"
                            alt="Logo">
                    </a>

                </div>
                <div class="col-lg-5 col-md-7 d-xs-none">

                    <div class="main-menu-search">

                        <div class="navbar-search search-style-5">
                            <div class="search-select">
                                <div class="select-position">


                                    <select id="select1" data-value="item"
                                        (change)="selectOption($event.target.value)">
                                        <option *ngFor="let item of category"
                                            [ngValue]="item">{{item}}</option>
                                    </select>

                                </div>
                            </div>
                            <div class="search-input">
                                <form>

                                    <input type="text" placeholder="Search"
                                        [(ngModel)]="search" name="search"
                                        (keyup)="onKey($event)">
                                </form>

                            </div>
                            <div class="search-btn">
                                <button><i class="lni lni-search-alt"></i></button>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-lg-4 col-md-2 col-5">
                    <div class="middle-right-area">
                        <div class="nav-hotline">
                            <i class="lni lni-phone"></i>
                            <h3>Hotline:
                                <span>+216 93 377 290</span>
                            </h3>
                        </div>
                        <app-cart></app-cart>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-6 col-12">
                <div class="nav-inner">

                    <!-- <div class="mega-category-menu">
                        <span class="cat-button"><i class="lni
                                lni-menu"></i>All Categories</span>
                        <ul class="sub-category" >
                                   <li *ngFor="let item of category" data-value="item" (click)="data(item)"><a >{{item}}</a></li>
                                   
                                   
                        </ul>
                    </div> -->
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler mobile-menu-btn"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle
                            navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse
                            sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a routerLink="" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact:
                                        true}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="allproducts"
                                        routerLinkActive="active">All product</a>
                                </li> 
                                <li class="nav-item">
                                    <a routerLink="add-product"
                                        *ngIf="userIsAuthenticated"
                                        routerLinkActive="active">add product</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="annonces"
                                        routerLinkActive="active"
                                        *ngIf="userIsAuthenticated ">mes
                                        annonces</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="./orders"
                                        routerLinkActive="active"
                                        *ngIf="userIsAuthenticated ">orders</a>
                                </li> <li class="nav-item">
                                    <a routerLink="msg"
                                        routerLinkActive="active"
                                        *ngIf="userIsAuthenticated">messages</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#"
                                        id="navbarDropdown" role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                        *ngIf="userIsAuthenticated && authisadmin ">
                                        Admin
                                    </a>
                                    <ul class="dropdown-menu"
                                        aria-labelledby="navbarDropdown">
                                        <li class="n"><a class="nav"
                                                routerLink="allusers">users</a></li>
                                        <li><a class=" nav"
                                                routerLink="adminproducts">products</a></li>
                                        <li><a class=" nav"
                                                routerLink="add-category">Add
                                                Category</a></li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </nav>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">

                <div class="nav-social">
                    <h5 class="title">Follow Us:</h5>
                    <ul>
                        <li>
                            <a href="javascript:void(0)"><i class="lni
                                    lni-facebook-filled"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="lni
                                    lni-twitter-original"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="lni
                                    lni-instagram"></i></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="lni
                                    lni-skype"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</header>