
<div class="row">
    <div class="col-lg-4 col-12">
        <div class="single-block give-review">
            <h4>4.5 (Overall)</h4>
            <ul>
                <li>
                    <span>5 stars - 38</span>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                </li>
                <li>
                    <span>4 stars - 10</span>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star"></i>
                </li>
                <li>
                    <span>3 stars - 3</span>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star"></i>
                    <i class="lni lni-star"></i>
                </li>
                <li>
                    <span>2 stars - 1</span>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star"></i>
                    <i class="lni lni-star"></i>
                    <i class="lni lni-star"></i>
                </li>
                <li>
                    <span>1 star - 0</span>
                    <i class="lni lni-star-filled"></i>
                    <i class="lni lni-star"></i>
                    <i class="lni lni-star"></i>
                    <i class="lni lni-star"></i>
                    <i class="lni lni-star"></i>
                </li>
            </ul>

            <!-- <button type="button" class="btn review-btn" data-bs-toggle="modal"
                data-bs-target="#commentModal" onclick="openVerticallyCentered(content)">
                Leave a Review
            </button>-->
            <button type="button" class="btn review-btn" data-bs-toggle="modal" 
       (click)="openVerticallyCentered(content)">
                Leave a Review
            </button>
        </div>
    </div>
    <div class="col-lg-8 col-12">
        <div class="single-block">
            <div class="reviews">
                <h4 class="title">Latest Reviews</h4>

                <div class="single-review" *ngFor="let review of reviews">
                    <img src="assets/images/blog/comment1.jpg" alt="#">
                    <div class="review-info">
                        <h4>{{review.subject}}
                            <span>{{review.name}}
                            </span>
                        </h4>
                        <ul class="stars">
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star-filled"></i></li>
                            <li><i class="lni lni-star-filled"></i></li>
                        </ul>
                        <p>{{review.comment}}</p>
                    </div>
                </div>


              

            </div>
        </div>
    </div>
</div>

<div class="modal fade review-modal" id="commentModal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" #closebutton
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #commentForm="ngForm" (ngSubmit)="addComment()">
                <div class="row">
                  
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="review-name">Your Name</label>
                                <input class="form-control" type="text"
                                    id="review-name" required
                                    [(ngModel)]="comment.name" name="name">
                            </div>
                        </div>
       
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-subject">Subject</label>
                                <input class="form-control" type="text"
                                    id="review-subject" required
                                    [(ngModel)]="comment.subject" name="subject">
                            </div>
                        </div>

                    </div>
                   
                    <div class="form-group">
                        <label for="review-message">review</label>
                        <textarea class="form-control" id="review-message"
                            rows="8" required [(ngModel)]="comment.comment" name="comment"></textarea>
                    </div>
                
                <div class="modal-footer button">
                    <button type="submit" class="btn">Submit Review</button>
                </div>
            </form>
        </div>
    </div>
</div>
<ng-template #content let-modal>
   



    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" #closebutton
                    aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">
                <form #commentForm="ngForm" (ngSubmit)="addComment()">
                <div class="row">
                  
                        <div class="col-sm-6">

                            <div class="form-group">
                                <label for="review-name">Your Name</label>
                                <input class="form-control" type="text"
                                    id="review-name" required
                                    [(ngModel)]="comment.name" name="name">
                            </div>
                            <div >name is required</div>
                        </div>
       
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="review-subject">Subject</label>
                                <input class="form-control" type="text"
                                    id="review-subject" required
                                    [(ngModel)]="comment.subject" name="subject">
                            </div>
                        </div>

                    </div>
                   
                    <div class="form-group">
                        <label for="review-message">review</label>
                        <textarea class="form-control" id="review-message"
                            rows="8" required [(ngModel)]="comment.comment" name="comment"></textarea>
                    </div>
                
                <div class="modal-footer button">
                    <button type="submit" class="btn">Submit Review</button>
                </div>
            </form>
        </div>
    </div>
</div>
  </ng-template>

