<div class="container mt-4">
<table datatable class="table ">
    <tr class="bg-dark text-white ">
 
      <th>name</th>
      <th>product</th>
      <th>phone</th>
      <th>message</th>
      <th>actions</th>
    </tr>
    <tbody>
        <tr *ngFor="let message of messages">
            <th style="width: 120px;">{{message.userName}}</th>
            <th style="width: 120px;"> <a  (click)="goToSingleProduct(message.pId)"  style="cursor: pointer;">{{message.name}}</a></th>
            <th  style="width: 120px;"><a (click)="goToSingleProduct(order.id)">{{message.phone}}</a></th>
            <th>{{message.message}}</th>
           
            <th style="width: 50px;"><button class="btn btn-danger" (click)="deleteMessage(message.targetId)">delete</button></th>
        </tr>
    </tbody>
  </table>
</div>