
<div class="container mt-4">
    <table>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>product</th>
          <th>phone</th>
          <th>actions</th>
        </tr>
        <tbody>
            <tr *ngFor="let order of orders">
                <th>{{order._id}}</th>
                <th>{{order.user[0].firstName}} {{order.user[0].lastName}}</th>
                <th><a (click)="goToSingleProduct(order.products[0]._id)">{{order.products[0].name}}</a></th>
                <th>{{order.user[0].phone}}</th>
                <th><button class="btn btn-danger" (click)="deleteOrder(order._id)">delete</button></th>
            </tr>
        </tbody>
      </table>
 </div>